@import "tailwindcss";

@theme {
  /* Cores de destaque */
  --color-primary: #8A4AF3;
  --color-primary-dark: #6C3BE0;
  --color-primary-light: #B9B5E7;

  /* Tema escuro */
  --color-dark-bg: #2B2A35;
  --color-dark-text: #E0E0E0;
  --color-dark-subtitle: #3F3D4A;

  /* Tema claro */
  --color-light-bg: #FFFFFF;
  --color-light-text: #333333;
  --color-light-subtitle: #F5F5F5;

  /* Cor neutra */
  --color-neutral: #201E35;

  /* Tipografia */
  --font-family-sans: Montserrat, sans-serif;
  --font-family-serif: Montserrat, serif;  

  /* Tamanho de fonte */
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.875rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;  
}

@layer components {

  /* Botão priomário: CTA e Login */
  .btn-primary{
    @apply bg-primary text-white text-base font-semibold py-3 px-6 rounded-lg
              transition duration-300 ease-in-out hover:bg-primary-dark;
  }

  /* Botão secundário: filtros e ações menos importantes */
  .btn-secondary{
    @apply border border-primary text-primary text-sm font-medium py-1.5 px-4 rounded-full
              transition duration-300 ease-in-out;
    @apply hover:bg-primary hover:text-white hover:border-primary-dark;
  }
}